
body{
    background-image: url("../imgs/ryan-ancill2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.foot{
    width: 100vw;
    margin-top: 5vh;
    text-align: center;
    color: #FFFFFF;
}

.invis{
    display: none;
}

table td:hover{
    background-color: #d4cdcd;
    /*color: #FFFFFF;*/
}

.tDate{
    font-size: .5 em;
}

.trans{
    background-color: rgba(0, 0,0, 0.3);
}

.headText{
    color: #FFFFFF;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.85em;
}
.arrows{
    font-size: 6em;
    margin-top:10vh;
    width:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.arrows:hover{
    color: #d8d2d2;
}

.card{
    margin-top:10vh;
    text-align: center;
}

.card:active{
    height: 0px;
}

li{
    width:100%;
}

li:hover{
    border-color: #c5bebe;
}

.smNext{
    display: none;
}
.smCopy{
    display:none;
}

/*
@media only screen and (min-width: 992px){
    .card{
        font-size: .85em;
    }
}

@media only screen and (min-width: 767px){
    .card{
        font-size: .75em;
    }

    .headText{
        font-size: 50%;
    }

    .arrows{
        font-size: 3em;
    }
}
*/
@media only screen and (min-width: 500px) and (max-device-width: 1000px){


    html{
        margin:0;
        padding:0;
    }
    body{
        margin:0;
        padding: 0;

    }

    .card-body{
        margin:0;
        padding:0;
          }

    .container{
        margin:0;
        padding:0;
    }



    .arrows{
        display:none;
    }
    .smNext{
        display: block;
    }

    header{
        display:none;
    }
    footer{
        display:none;
    }

    .card{
        font-size: 2.5em;

        min-height: 100vh;
        min-width: 100vw;
        margin-top: 0 ;
        margin: 0;
        padding-right: 0;
    }

    h5{
        font-size: 1.5em;
    }

    .smCopy{
        display: block;
    }

}

@media only screen and (max-width: 500px){


    html{
        margin:0;
        padding:0;
    }
    body{
        margin:0;
        padding: 0;

    }

    .container{
        margin:0;
        padding:0;
    }
    .card-body{
  margin:0;
  padding:0;
    }



    .arrows{
        display:none;
    }
    .smNext{
        display: block;
    }

    header{
        display:none;
    }
    footer{
        display:none;
    }

    .card{
        font-size: .5em;

        min-height: 100vh;
        min-width: 100%;

        margin-top: 0 ;
        margin: 0;
        padding:0;
    }


    .smCopy{
        display: block;
    }

}